Import libraries

In [1]:
import urllib.request
import pandas as pd

Scrap the Wikipedia web page

In [2]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
post_list_html=urllib.request.urlopen(url).read()

Read html archive with Pandas library

In [3]:
post_data=pd.read_html(post_list_html)
len(post_data)

3

Extract the table from the list

In [4]:
df1=post_data[0]
df1.columns

Index(['Postcode', 'Borough', 'Neighbourhood'], dtype='object')

In [5]:
df1.index

RangeIndex(start=0, stop=288, step=1)

Show the five first and last rows from the df1 table

In [6]:
df1.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [7]:
df1.tail()

    Postcode       Borough          Neighbourhood
283      M8Z     Etobicoke              Mimico NW
284      M8Z     Etobicoke     The Queensway West
285      M8Z     Etobicoke  Royal York South West
286      M8Z     Etobicoke         South of Bloor
287      M9Z  Not assigned           Not assigned

Ignore cells with a borough that is Not assigned and show on the table below

In [8]:
df=df1[df1["Borough"]!="Not assigned"]

In [9]:
print(df.head(10))

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
Replace a Not assigned neighbourhood with the corresponding borough name. This is shown on table below [row 8]

In [10]:
mask=df['Neighbourhood']!="Not assigned"

id=df.Neighbourhood[~mask].values

vd=df.Borough[~mask].values
df=df.replace(id,vd)
df.replace(id,vd,inplace=True)

In [11]:
df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Queen's Park
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

Select the duplicates entries and show them on the table below

In [12]:
mask=df.Postcode.duplicated(keep=False)

In [13]:
df[mask]

    Postcode           Borough             Neighbourhood
4        M5A  Downtown Toronto              Harbourfront
5        M5A  Downtown Toronto               Regent Park
6        M6A        North York          Lawrence Heights
7        M6A        North York            Lawrence Manor
11       M1B       Scarborough                     Rouge
..       ...               ...                       ...
282      M8Z         Etobicoke  Kingsway Park South West
283      M8Z         Etobicoke                 Mimico NW
284      M8Z         Etobicoke        The Queensway West
285      M8Z         Etobicoke     Royal York South West
286      M8Z         Etobicoke            South of Bloor

[165 rows x 3 columns]

Select the non-duplicates entries and show them on the table below

In [14]:
df_non_duplicates=df[~mask]
df_non_duplicates.head(10)

   Postcode           Borough       Neighbourhood
2       M3A        North York           Parkwoods
3       M4A        North York    Victoria Village
8       M7A      Queen's Park        Queen's Park
10      M9A         Etobicoke    Islington Avenue
14      M3B        North York     Don Mills North
19      M6B        North York           Glencairn
33      M4C         East York    Woodbine Heights
34      M5C  Downtown Toronto      St. James Town
35      M6C              York  Humewood-Cedarvale
47      M4E      East Toronto         The Beaches

Select the first from each duplicated entrie and show them on the table below

In [15]:
df_duplicates=df[mask].drop_duplicates(subset="Postcode",keep="first")

In [16]:
df_duplicates.head(10)

   Postcode           Borough      Neighbourhood
4       M5A  Downtown Toronto       Harbourfront
6       M6A        North York   Lawrence Heights
11      M1B       Scarborough              Rouge
15      M4B         East York   Woodbine Gardens
17      M5B  Downtown Toronto            Ryerson
22      M9B         Etobicoke         Cloverdale
27      M1C       Scarborough     Highland Creek
31      M3C        North York    Flemingdon Park
38      M9C         Etobicoke  Bloordale Gardens
42      M1E       Scarborough          Guildwood

Combine rows with the same Postcode into one row with the neighborhoods separated with a comma and show on the table below

In [17]:
f=lambda x: ','.join(z for z in df.loc[df.Postcode==x,'Neighbourhood'])

In [18]:
for x in df_duplicates.index:
    df_duplicates.Neighbourhood[x]=f(df_duplicates.Postcode[x])

In [19]:
df_duplicates.head(10)

,Postcode,Borough,Neighbourhood
4,M5A,Downtown Toronto,"Harbourfront,Regent Park"
6,M6A,North York,"Lawrence Heights,Lawrence Manor"
11,M1B,Scarborough,"Rouge,Malvern"
15,M4B,East York,"Woodbine Gardens,Parkview Hill"
17,M5B,Downtown Toronto,"Ryerson,Garden District"
22,M9B,Etobicoke,"Cloverdale,Islington,Martin Grove,Princess Gar..."
27,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union"
31,M3C,North York,"Flemingdon Park,Don Mills South"
38,M9C,Etobicoke,"Bloordale Gardens,Eringate,Markland Wood,Old B..."
42,M1E,Scarborough,"Guildwood,Morningside,West Hill"

Concatenate the non-duplicates and duplicates dataframes using concat method and show on the table below

In [20]:
df_full = pd.concat([df_non_duplicates,df_duplicates], ignore_index='True')

In [21]:
df_full

,Postcode,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M7A,Queen's Park,Queen's Park
3,M9A,Etobicoke,Islington Avenue
4,M3B,North York,Don Mills North
...,...,...,...
98,M4X,Downtown Toronto,"Cabbagetown,St. James Town"
99,M5X,Downtown Toronto,"First Canadian Place,Underground city"
100,M8X,Etobicoke,"The Kingsway,Montgomery Road,Old Mill North"
101,M8Y,Etobicoke,"Humber Bay,King's Mill Park,Kingsway Park Sout..."
102,M8Z,Etobicoke,"Kingsway Park South West,Mimico NW,The Queensw..."

Use the method .shape to know the numbers of rows in the df_full dataframe

In [22]:
df_full.shape

(103, 3)